<div class="datasets-grid" id="featuredDatasets3">
            
			
			{% for page in site.pages limit:3 %}
			{% if page.title != null  %}
				{% if page.folder== "Demografia" %}
				  <div class="dataset-card fade-in-up">
                <div class="dataset-header">
                    <h4 class="dataset-title"><a href="{{ page.url }}">{{ page.title }}</a></h4>
                    <p class="dataset-description">{{ page.description }}.</p>
                </div>
                <div class="dataset-meta">
                    <span class="dataset-category">{{ page.folder }}</span>
                    <span></span>
                </div>
            </div>
				{% endif %}
			{% endif %}
			{% endfor %}
			
			
			<!--<div class="dataset-card fade-in-up" onclick="openSalamanca.viewDataset('poblacion-distritos')">
                <div class="dataset-header">
                    <h4 class="dataset-title">Población por Distritos</h4>
                    <p class="dataset-description">Datos demográficos de la población distribuida por distritos de Salamanca.</p>
                </div>
                <div class="dataset-meta">
                    <span class="dataset-category">Demografia</span>
                    <span>1250 visualizaciones</span>
                </div>
            </div>
        
            <div class="dataset-card fade-in-up" onclick="openSalamanca.viewDataset('economia-anual')">
                <div class="dataset-header">
                    <h4 class="dataset-title">Evolución Económica Anual</h4>
                    <p class="dataset-description">Indicadores económicos principales de Salamanca en los últimos 5 años.</p>
                </div>
                <div class="dataset-meta">
                    <span class="dataset-category">Economia</span>
                    <span>890 visualizaciones</span>
                </div>
            </div> -->
        
			

			

			
			
        </div>